h1{color:orange;
font-size: 100px;
text-align: center;}
h2{color:orange;
    font-size: 70px;
text-align: center;}
p{color:green;
    font-size: 30px;
text-align: center;
text-shadow:
    -0.2px -0.2px 0 black,
     0.2px -0.2px 0 black,
    -0.2px  0.2px 0 black,
     0.2px  0.2px 0 black;}
ul{color:green;
    font-size: 30px;
    list-style-position: inside;  
  display: table;               
  margin: 0 auto;               
  text-align: left;  
text-shadow:
    -0.2px -0.2px 0 black,
     0.2px -0.2px 0 black,
    -0.2px  0.2px 0 black,
     0.2px  0.2px 0 black;}
body{background-color: aqua;}
.imagem-centro {
  display: block;      
  margin: 20px auto;  
  max-width: 400px;   
}